.marker {
    background-color: #ffcc00;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
}

.popup-content {
    width: 300px; /* Adjust width as needed */
    max-height: 450px; /* Adjust height as needed */
    overflow-y: auto; /* Allows scrolling for vertical overflow */
}

.popup-map {
    width: 100%; /* Makes the map fill the container width */
    height: 300px; /* Fixed height for the map */
}


.mapboxgl-popup {
    max-width: 320px; /* Adjust width as needed */
    max-height: 470px; /* Adjust height as needed */
}

element.style {
    max-width: 320px; /* Adjust width as needed */
    max-height: 470px; /* Adjust height as needed */
}
